@model SocialNetwork.Models.Comment

@{
    ViewBag.Title = "Delete Comment";
}

<h2>Delete Comment</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.photo.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

    </dl>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" /> 
        @Html.ActionLink("Back to Photos", "Details", "Photos", new { id = Model.photoId }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
}

</div>
