<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

@if (Session["username"] != null)
{

    using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">@Html.ActionLink(" Welcome " + Session["username"] + "!", "Person", "Account", new { id = Session["id"] }, new { @class = "nav-link" })</li>
            @*<li class="nav-item"><a href="@Url.Action("Person", "Account", new { id = Session["id"] })"><i class="fas fa-user"></i>Welcome + @Session["username"] + !</a></li>*@
            <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "nav-link" })</li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })</li>
    </ul>
}