@model IEnumerable<SocialNetwork.Models.Photo>

@{
    Layout = null;
}

<link href="~/Content/stylesheet.css" rel="stylesheet" />

<div class="photo-container">
    @foreach (var item in Model)
    {

        <div class="" id="photo-gallery">

            <h3 class="page-header">
                @Html.DisplayFor(modelItem => item.title)
            </h3>

            @if (item.photoFilePath != null)
            {
                <div class="photo-display">
                    @*<img class="" src="@Url.Action("GetImage", "Photo", new { photoId = item.photoId})" />*@
                    <img class="photo-display-img" src="~/Images/@(item.photoFilePath)" />
                </div>
            }

            <div class="" id="photo-data">
                <div>
                    <span class="" id="display-label">
                        Uploaded by:
                    </span>
                    <span class="display-field">
                        @Html.DisplayFor(model => item.username)
                    </span>
                </div>

                <div>
                    <span class="" id="display-label">
                        @Html.DisplayNameFor(model => model.createdDate):
                    </span>
                    <span class="display-field">
                        @Html.DisplayFor(model => item.createdDate)
                    </span>
                </div>

                <div>
                    <span class="" id="display-label">
                        @Html.DisplayNameFor(model => model.modifiedDate):
                    </span>
                    <spoan class="display-field">
                        @Html.DisplayFor(model => item.modifiedDate)
                    </spoan>
                </div>
            </div>

            @Html.ActionLink("Details", "Details", "Photos", new { id = item.photoId }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    }
</div>
