@model SocialNetwork.Models.Photo

@{
    ViewBag.Title = Model.title;
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photoFilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photoFilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageMimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageMimeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>

    </dl>
</div>

@Html.Action("CommentPhoto", "Comments", new { photoId = Model.photoId })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.photoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
