@model SocialNetwork.Models.Photo

@{
    ViewBag.Title = Model.title;
}

<h2>@Model.title</h2>

@if (Model.photoFilePath != null)
{
    <div class="">
        <img src="~/Images/@(Model.photoFilePath)"/>
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>

    </dl>
</div>

@Html.Action("_CommentPhoto", "Comments", new { photoId = Model.photoId })

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
